:root[data-theme="light"] {
    --text: black;
    --text-light: seashell;
    --text-field: black;
    --background: #f0f0f0;
    --background-field: white;
    --primary: #004683;
    --secondary: royalblue;
    --autocomplete: white;
    --hover: antiquewhite;
}

:root[data-theme="dark"] {
    --text: #50aaec;
    --text-light: rgb(255 245 238 / 0.9);
    --text-field: white;
    --background: #191919;
    --background-field: #464646;
    --primary: #002a4e;
    --secondary: dodgerblue;
    --autocomplete: #001428;
    --hover: #00434c;
}