:root[data-theme="light"] {
  --text: #0b0d0f;
  --borders: #bebebe;
  --primary: #004680;
  --secondary: #7ab5e6;
  --accent: #1185e4;
}

:root[data-theme="dark"] {
  --text: #f0f2f4;
  --borders: #1e1e1e;
  --background: #05070a;
  --primary: #80c6ff;
  --secondary: #195485;
  --accent: #1b8fee;
}
