body {
    font-family: system-ui, sans-serif;
    background-color: var(--background);
    color: var(--text);

    font-size: 25px;
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    gap: 1em
}

h1 {
    margin: 0.5em 0;
}

.hidden {
    display: none;
}

/* THEME BUTTON */

#theme-button-box {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 1em;
    /* TODO: Make it look OK */
}

/* MAIN LAYOUT */

#centering-box {
    height: 100%;
    display: grid;
    grid-template:
    "." 10fr
    "main" 1fr
    "." minmax(0, 2em)
    "stats" auto
    "." 9fr / auto;
    justify-content: center;
}

.section-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main-box {
    grid-area: main;
    display: flex;
    justify-content: end;
}

#stat-box {
    grid-area: stats;
}

/* MAIN SEARCH */

#search-box {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

#search-box input {
    padding: 0.3em 0.6em;
    font-size: 0.8em;
    appearance: none;
    box-sizing: content-box;
    width: 70%;
    border: royalblue solid 2px;
    border-radius: 0.5em;
    text-overflow: fade;
}

/* STATISTICS */

.section-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#number-stats-box {
    display: grid;
    grid-template:
    "sum . update . old" auto / 1fr minmax(0, 1em) 1fr minmax(0, 1em) 1fr;
    background: var(--primary);
    color: var(--text-light);
    padding: 0.5em;
    border-radius: 0.4em;
    align-items: start;
    justify-items: center;
}

#inst-sum-box {
    grid-area: sum;
}

#inst-update-box {
    grid-area: update;
}

#inst-old-box {
    grid-area: old;
}

.stat {
    font-size: 0.7em;
    gap: 0.2em;
    text-align: center;
}

.number-stat {
    font-size: 2em;
    font-weight: bold;
}