@font-face {
    font-family: 'Roboto';
    font-stretch: 100%;
    font-style: normal;
    font-weight: auto;
    src: url("./static/Roboto-VariableFont.ttf") format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--text);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em
}

h1 {
    font-size: xx-large;
}

h2 {
    margin: 0.5em 0;
    align-self: center;
}

.section {
    background-color: var(--secondary);
    box-shadow: rgb(30 30 30 / 0.5) 2px 2px 2px;
    border: 5px double var(--borders);
    border-radius: 1em;
    gap: 0.5em;
    padding: 0.3em 0.7em;
    display: flex;
}

.column {
    flex-direction: column;
}

#info-box {
    border-radius: 0.3em;
    border-width: 3px;
}

#info {
    align-self: center;
}

.small-button {
    margin-left: 0.1em;
    line-height: 1em;
    border: 2px solid var(--primary);
    font-size: 1em;
}

.hide {
    display: none;
}

#settings-button-box {
    position: absolute;
    margin: 2dvw;
    top: 0;
    right: 0;
}

#settings-list {
    display: grid;
    column-gap: 1em;
    row-gap: 0.2em;
    margin-bottom: 0.7em;
    align-items: center;
}

#settings-list input,
#settings-list select {
    justify-self: center;
    grid-column: 2;
}

.button {
    display: flex;
    background-color: var(--secondary);
    border: 0.25em solid var(--borders);
    outline: 0.25em solid var(--borders);
    outline-offset: 0;
    border-radius: 100%;
    aspect-ratio: 1/1;
    align-items: center;
}

.button img {
    height: 2.5em
}

:root[data-theme="dark"] .button img {
    filter: invert(100%);
}

.button:hover {
    border-color: var(--borders-hover);
}

.button:active {
    border-color: var(--borders-clicked);
    background-color: var(--primary);
}

.switch {
    position: relative;
    box-sizing: content-box;
    border: 3px solid var(--borders);
    margin: 0;
    border-radius: 1em;
    appearance: none;
    aspect-ratio: 2/1;
    height: 2rem;
    width: auto;
    background: var(--primary);
}

.switch::before {
    border-radius: 50%;
    display: block;
    content: " ";
    aspect-ratio: 1/1;
    width: 40%;
    height: auto;
    margin: 5%;
}

.switch:checked::before {
    margin-left: 55%;
}

#theme-switch::before {
    background-color: lightgrey;
}

#theme-switch:checked::before {
    background-color: #eee31b;
}